<nav class="navbar navbar-expand-lg">
  <div class="container-fluid text-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=<%= root_path %>>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=<%= projects_path %>>Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=<%= articles_path %>>Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=<%= offlines_path %>>Offline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href=<%= hireme_path %>>Hire Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
